body {
    box-sizing: border-box;
}

h1{
    text-align: center;
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 1% auto;
}

main {
    height: 70vh;
    width: 100vw;
    margin: 0 auto;
}

p {
    margin: 0;
    font-size: 1.4rem;
    user-select: none;
}

.randomContainer {
    width: 67.5%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5%;
    background-color: antiquewhite;
    border-radius: 10px;
}

.random-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.random-image {
    width: 95%;
    height: 100%;
    margin: 2% auto;
    object-fit: cover;
}

.ttt{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

ol {
    width: 26%;
    margin: 0;
    height: 100%;
    overflow: scroll;
    padding-left: 25px;
    padding-top: 10px;
    line-height: 1.5;
    font-size: 0.9rem;
}

.charts {
    margin-top: 20px;
    max-height: 200px;
    max-width: 90%;
    margin-left: 40px;
}